.item {
  max-width: 700px;
  margin: auto;

  &__date {
    margin-bottom: 7px;
  }

  &__flight-wrapper {
    display: flex;
    border: solid lightgray 1px;
    border-radius: 5px;
    padding: 20px;
  }

  &__col {
    flex-grow: 1;
  }

  &__col-middle {
    display: flex;
    justify-content: center;
  }

  &__departure,
  &__arrive {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__time {
    font-size: 20px;
  }

  &__airport-code {
    color: $color-secondary;
  }

  &__status {
    color: $color-succes;

    &--delayed {
      color: $color-danger;
    }
  }

  &__flight-duration-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    margin: 0 20px;
    align-items: center;
  }

  &__flight-duration-bar-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__flight-bar {
    height: 1px;
    width: 86%;
    background: black;
  }

  &__flight-icon {
    width: 22px;
    margin-left: 3px;
    position: relative;
    top: 2px;
  }

  &__arrive {
    text-align: right;
  }

  &__col-right {
    display: flex;
    align-items: center;
  }

  &__btn {
    margin-left: auto;
    width: 20px;
    cursor: pointer;
    transition: transform 0.3s;

    &--down {
      transform: rotate(180deg);
    }

    &:hover {
      polygon {
        fill: $color-primary;
      }
    }
  }

  &__more-info {
    max-height: 0;
    transition: all 0.5s, border-color 0.7s;
    border-radius: 5px;
    border: solid #fff 1px;
    border-top: none;
    overflow: hidden;

    @media screen and (max-width: 767px) {
      overflow: auto;
    }

    &--open {
      max-height: 350px;
      border-color: lightgray;
    }
  }
}