.more {
  .clock {
    padding: 30px 0;
  }

  &__wrapper {
    padding: 20px;
  }

  &__row {
    display: flex;
  }

  &__row-middle {
    display: flex;
    margin: 37px 0;

    @media screen and (max-width:760px) {
      margin: 25px 0;
    }

  }

  &__flight-status {
    color: $color-succes;

    &--red {
      color: $color-danger;
    }
  }

  &__bar {
    display: flex;
    margin: 3px 50px;
    width: 2px;
    background: $color-secondary;
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border: 2px solid $color-secondary;
      border-radius: 100%;
      background: #fff;
      position: absolute;
    }

    &::before {
      top: 0;
      left: -6px;
    }

    &::after {
      bottom: 0;
      left: -6px;
    }

    @media screen and (max-width:760px) {
      margin: 0;
      margin-right: 15px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__detail {
    margin-right: 10px;
  }
}